<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
</head>
<body>

    <h1>Hello Asad 🚀</h1>
    <h1>Hello Gujjar 🚀</h1>

    <form id="form">
        <input type="text" id="name" placeholder="Enter name">
        <button type="submit">Send</button>
    </form>

    <p id="result"></p>

    <script>
        document.getElementById("form").addEventListener("submit", async function(e) {
            e.preventDefault();

            let name = document.getElementById("name").value;

            let res = await fetch("/process", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ name: name })
            });

            let data = await res.json();
            document.getElementById("result").innerText = data.result || data.error;
        });
    </script>

</body>
</html>